a {
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-left: 100px;
  margin-right: 100px;
}
/* input {
  display: flex;
  flex-basis: calc((100% - 120px) / 4);
} */
#datetime-picker {
  padding: 10px 20px 10px 20px;
}
.js-start-btn {
  padding: 10px 20px 10px 20px;
  border: 3px;
  margin-left: 10px;
  background-color: #41aa41;
  color: #000000;

  flex-basis: calc((100% - 120px) / 4);
  transition: background-color 250ms var(--timing-function);
}
button[disabled] {
  background-color: #dfdae1;
}
